html,
body {
    height: 100%;
    font-family: 'PT Sans', sans-serif;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 20px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}















body { padding-top: 60px; }

.navbar-brand {
    padding-top: 15px;
}




.nav-tabs {
    font-weight: bold;
}

.custom-header {
    margin-top: 0;
    font-size: 28px;
    font-weight: bold;
}

.custom-sub-header {
    font-weight: bold;
    font-size: 18px;
}

.media-object {
    height: 64px;
    width: 64px;
}

.media-heading {
    font-weight: bold;
}

.media-heading small {
    font-weight: normal;
}


.navbar-right img{
    width: 18px;
    height: 18px;
}


.custom-panel-heading {
    font-weight: bold;
}
/*
.custom-panel-heading span{
    font-weight: normal;
}*/


.table-link {
    font-size: 16px !important;
    color: #40646d;
    text-decoration: none !important;
    font-weight: bold;
    border-bottom: 1px #40646d dashed;
}

.table-link:hover {
    color: #40646d;
    border-bottom: none;
}

.table-link:active {
    color: #40646d;
}

.general-price {
    font-weight: bold;
}

.wrap {
    background-image: url(../img/bg.png);
}

.filter-choice{
    margin-bottom: 10px;
}










/*ИТЕМЫ ЛОТОВ*/

.lots-list-panel {
    padding-top: 0;
    padding-bottom: 0;
}

.lot-item {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

@media (min-width: 1170px) { 
    .lot-item {
        padding: 10px 0;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

 }

.lot-item-name {
    margin-bottom: 10px;
}

.lot-item:hover {
    cursor: default;
    background-color: #F7F7F7;
}

.lot-item-name a {
    /*color: #9a5900;*/
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
}

.lot-item-name a:hover {
    /*color: #cc811a;*/
}


.img-lot-type {
    width: 50%;
    margin: 0 auto;
}

.pagado {
    font-weight: bold;
    line-height: normal;
}






/*ЦЕНТРИРОВАННЫЙ БЛОК*/

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}





/* КАЛЕНДАРЬ */

.fc-content {
    padding: 3px;
}






/* СТРАНИЦА ТАРИФОВ */

.tariff-block-time {
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 0px;
}

.tariff-block-month {
    font-size: 20px;
}

.tariff-block-price {
    font-weight: bold;
    font-size: 35px;
}

.tariff-block-price span {
    font-size: 20px;
}



/* БЛОГ */

.article-body {
    font-size: 18px;
    line-height: 30px;
}

.blog-index h4 a{
    color: #40646d;
    font-weight: bold;
}

.blog-index h4 a:hover{
    text-decoration: none;
    border-bottom: 1px dashed #40646d;
}

.well-filter .bs-component {
    margin-bottom: 10px;
}

.filter-choice .modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}


/* Точка подсказки в календаре */
.cal-notice-dot {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    display: inline-block;
    margin-right: 5px;
}


.lot-item .label {
    font-size: 15px;
}


/* Нужно для нормального отображения лоадера при ajax */
.navbar, .modal {
    z-index: 9999;
} 


/* Лендинг */
#homepage-main-block {
    color: #fff;
    background-color: #2c3e50 !important;
    background-image: url(/img/nav-bg.png);
    background-repeat: repeat; 
}

.navbar-default {
    background-image: url(/img/nav-bg.png);
    background-repeat: repeat; 
    -webkit-box-shadow: 0px 11px 20px -9px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 11px 20px -9px rgba(0,0,0,0.49);
    box-shadow: 0px 11px 20px -9px rgba(0,0,0,0.49);
}

.btn-landing {
    border: 3px solid #fff;
    border-radius: 4px;
    font-size: 17px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 20px;
    font-weight: bold;
    transition: all 0.3s ease-out 0s;
}

.btn-landing:hover {
    border: 3px solid #fff;
    color: #2c3e50;
    background-color: #fff;
}

.possib-block {
    -webkit-box-shadow: 2px 3px 10px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 3px 10px 1px rgba(0,0,0,0.1);
    box-shadow: 2px 3px 10px 1px rgba(0,0,0,0.1);
    padding: 20px 12px;
    margin-bottom: 30px;
    background-color: #fff;
}

.possib-img {
    height: 80px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.possib-img-search {
    background-image: url(../img/search.svg);
}

.possib-img-calendar {
    background-image: url(../img/calendar.svg);
}

.possib-img-archives {
    background-image: url(../img/archives.svg);
}

.possib-img-stats {
    background-image: url(../img/stats.svg);
}



/* Строка "найдено торгов"*/

.total-count {
    margin-left: 5px;
}


#payment-form input {
    margin-right: 5px;
}



/* Список возможностей в тарифах */

.tariff-options img{
    float: left;
    width: 44px;
    height: 44px;
    margin-right: 10px;
}